@import url("fonts/fonts.css");

html {font-size: 281.3%;} /*45px*/

@media screen and (max-width: 1920px) {html {font-size: 225%; /* 36px*/}}
@media screen and (max-width: 1180px) {html {font-size: 200%; /* 32px*/}}
@media screen and (max-width: 980px) {html {font-size: 175%; /* 28px*/}}
@media screen and (max-width: 680px) {html {font-size: 150%; /* 24px*/}}
@media screen and (max-width: 480px) {html {font-size: 125%; /* 20px*/}}
@media screen and (max-width: 360px) {html {font-size: 112.5%; /* 18px*/}}


body {
  font-family: 'MetaSerif', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: var(--black);
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

P:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'greve', sans-serif;
  font-weight: 900;
  line-height: 0.8;
  margin-bottom: max(0.25em, 0.15rem);
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h1 {font-size: 3.052rem;}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}